<div class="table-container">
  <h1 class="table-header">Manage Movies</h1>
  <div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <div class="toolbars">
          <div class="toolbars-left">
            <button pButton
                    pRipple
                    label="New"
                    icon="pi pi-plus"
                    class="p-button-info mr-2 toolbar-buttons"
                    (click)="openNew()">
            </button>
            <button pButton
                    pRipple
                    label="Delete"
                    icon="pi pi-trash"
                    class="p-button-danger toolbar-buttons"
                    (click)="deleteSelectedMovies()"
                    [disabled]="!selectedMovies?.length">
            </button>
          </div>
          <div class="toolbars-right">
            <button pButton
                    pRipple
                    label="Add to Cinema"
                    icon="pi pi-plus"
                    class="p-button-success toolbar-buttons"
                    (click)="addToCinema()"
                    [disabled]="!selectedMovies?.length || selectedMovies!.length > 1">
            </button>
          </div>
        </div>


      </ng-template>
    </p-toolbar>
    <p-table #dt
             [value]="incomingMovies"
             styleClass="p-datatable-gridlines"
             responsiveLayout="stack"
             [breakpoint]="'960px'"
             [rows]="rows"
             [paginator]="true"
             [globalFilterFields]="['name' , 'id']"
             [tableStyle]="{'min-width': '75rem'}"
             [(selection)]="selectedMovies"
             [rowHover]="true"
             [contextMenu]="cm"
             [(contextMenuSelection)]="movie"
             dataKey="id">
      <ng-template pTemplate="header" class="headerMoviesMobile">
        <tr>

          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>

          <th pSortableColumn="id" style="max-width: 100px;">
            <div class="th-items">
              <div class="left-th">
                ID
                <p-sortIcon field="id"></p-sortIcon>
              </div>
              <p-columnFilter type="numeric" field="id" display="menu"></p-columnFilter>
            </div>
          </th>

          <th>Img</th>

          <th pSortableColumn="name" style="min-width: 15rem">
            <div class="th-items">
              <div class="left-th">
                Name
                <p-sortIcon field="name"></p-sortIcon>
              </div>
              <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
            </div>
          </th>

          <th>Description</th>
          <th>TrailerURL</th>
          <th>
            <div class="flex">
              <button pButton
                      (click)="clearFilters(dt)"
                      label="Clear"
                      class="p-button-outlined"
                      icon="pi pi-filter-slash"></button>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-movie>
        <tr [pContextMenuRow]="movie">

          <td class="table-checkbox">
            <p-tableCheckbox [value]="movie"></p-tableCheckbox>
          </td>

          <td class="id-td">
            {{ movie.id }}
          </td>

          <td class="img-td">
            <img [src]="movie['imgUrl']" alt="movie-img" class="table-img">
          </td>

          <td [pTooltip]="movie.name"
              tooltipPosition="bottom"
              [showDelay]="400"
              [hideDelay]="100">
            <div class="shorter-text">
              {{ movie.name }}
            </div>
          </td>

          <td [pTooltip]="movie.description"
              tooltipPosition="bottom"
              [showDelay]="400"
              [hideDelay]="100">
            <div class="shorter-text">
              {{ movie.description }}
            </div>
          </td>

          <td [pTooltip]="movie['trailerUrl']"
              tooltipPosition="bottom"
              [showDelay]="400"
              [hideDelay]="100">
            <div class="shorter-text">
              {{ movie['trailerUrl'] }}
            </div>
          </td>

          <td class="editDialogColsButtons">
            <button pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-info mr-2 rounded-buttons-size buttons-distance"
                    (click)="editMovie(movie)">
            </button>
            <button pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-danger rounded-buttons-size buttons-distance"
                    (click)="deleteMovie(movie)">
            </button>
          </td>

        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [(visible)]="movieDialog"
            [resizable]="false"
            [draggable]="false"
            [breakpoints]="{'1080px': '50vw','960px': '60vw', '640px': '85vw'}"
            [style]="{width: '450px'}"
            header="Movie Details"
            [modal]="true"
            (onHide)="hideMovieDialog()"
            styleClass="p-fluid">
    <ng-template pTemplate="content">
      <form [formGroup]="movieForm" (ngSubmit)="saveMovie()">
        <div class="field editDialogCols">
          <label for="name">
            Name
          </label>
          <input class="editDialogColsInput"
                 [ngClass]="{
                    'ng-invalid':
                    movieForm.get('name')?.hasError('required') && submitted
                    ||
                    !movieForm.value.name?.trim() && submitted,
                    'ng-dirty':
                    movieForm.get('name')?.hasError('required')  && submitted
                    || !movieForm.value.name?.trim() && submitted
                    }"
                 type="text"
                 formControlName="name"
                 pInputText
                 id="name"
                 autofocus />
          <small *ngIf="movieForm.get('name')?.hasError('required')  && submitted
                        || !movieForm.value.name?.trim() && submitted"
                 class="p-error">
            Name is required.
          </small>
        </div>
        <div class="field editDialogCols">
          <label for="description">
            Description
          </label>
          <textarea class="editDialogColTextArea"
                    [ngClass]="{
                    'ng-invalid':
                    movieForm.get('description')?.hasError('required')  && submitted
                    ||
                    !movieForm.value.description?.trim() && submitted,
                    'ng-dirty':
                    movieForm.get('description')?.hasError('required')  && submitted
                    ||
                    !movieForm.value.description?.trim() && submitted
                    }"
                    formControlName="description"
                    pInputTextarea
                    id="description"
                    rows="3"
                    cols="20">
        </textarea>
          <small *ngIf="movieForm.get('description')?.hasError('required')  && submitted
                        || !movieForm.value.description?.trim() && submitted"
                 class="p-error">
            Description is required.
          </small>
        </div>


        <div class="field editDialogCols">
          <label for="trailerUrl">
            TrailerUrl
          </label>
          <input class="editDialogColsInput"
                 [ngClass]="{
                    'ng-invalid':
                    movieForm.get('trailerUrl')?.hasError('required') && submitted
                    ||
                    !movieForm.value.trailerUrl?.trim() && submitted,
                    'ng-dirty':
                    movieForm.get('trailerUrl')?.hasError('required')  && submitted
                    || !movieForm.value.trailerUrl?.trim() && submitted
                    }"
                 type="text"
                 formControlName="trailerUrl"
                 pInputText
                 id="trailerUrl" />
          <small *ngIf="movieForm.get('trailerUrl')?.hasError('required')  && submitted
                        || !movieForm.value.trailerUrl?.trim() && submitted"
                 class="p-error">
            TrailerUrl is required.
          </small>
        </div>

        <div class="field editDialogCols">

          <label>
            Image
          </label>


          <div class="img-dropzone"
               imgDrag
               (file)="imageDropped($event)">
            <div class="drag-message" >
              Drag your image here or
              <a class="img-browse"
                 (click)="imgInput.click()">browse</a>
            </div>
          </div>

          <input style="display: none;"
                 #imgInput
                 type="file"
                 accept="image/png,image/jpg,image/jpeg"
                 (change)="onFileChange($event)" />

          <div class="img-preview">
            <div class="img-container" *ngIf="(movieForm.controls.imgUrl.value) || (movie.imgUrl)">
              <div class="img-cancel" (click)="imageClear(movie)">X</div>
              <img [src]="(movieForm.controls.imgUrl.value) || (movie.imgUrl)"
                   class="selected-movie-image" alt="movie-img">
            </div>
          </div>

          <small *ngIf="movieForm.get('imgUrl')?.hasError('required')  && submitted"
                 class="p-error">
            Image is required.
          </small>

        </div>

      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton
              pRipple
              label="Cancel"
              icon="pi pi-times"
              class="p-button-text"
              (click)="hideMovieDialog()"></button>
      <button pButton
              pRipple
              label="Save"
              icon="pi pi-check"
              class="p-button-text"
              (click)="saveMovie()"></button>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="cinemaDialog"
            [breakpoints]="{'1080px': '50vw','960px': '60vw', '640px': '75vw'}"
            [style]="{width: '450px'}"
            header="Add to cinema"
            [modal]="true"
            [resizable]="false"
            [draggable]="false"
            (onHide)="hideCinemaDialog()"
            styleClass="p-fluid">

    <div class="dialog-checkbox-wrapper">
      <p-checkbox name="cinemas"
                  [(ngModel)]="selectedCinemas"
                  [value]="'cinema-one'"
                  [label]="'cinema-one'">
      </p-checkbox>
      <p-checkbox name="cinemas"
                  [(ngModel)]="selectedCinemas"
                  [value]="'cinema-two'"
                  [label]="'cinema-two'">
      </p-checkbox>
    </div>

    <ng-template pTemplate="footer">
      <button pButton
              pRipple
              label="Cancel"
              icon="pi pi-times"
              class="p-button-text"
              (click)="hideCinemaDialog()"></button>
      <button pButton
              pRipple
              label="Add"
              icon="pi pi-check"
              class="p-button-text"
              (click)="addMovieToCinema()"></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [breakpoints]="{'1080px': '50vw','960px': '60vw', '640px': '75vw'}"
                   [style]="{width: '450px'}"></p-confirmDialog>
  <p-contextMenu #cm [model]="items"></p-contextMenu>
</div>
