@import "../../basic-table-styles.scss";

:host ::ng-deep .p-toolbar-group-start {
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 650px) {
  .toolbars {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
