<div class="session-wrapper">
  <div class="info-block">
    <h2 class="movie-name">{{ selected_movie?.name }}</h2>
    <div class="session-info">
      <p class="session-date">
        {{ sessionInfo?.date | date }}  {{ sessionInfo?.date | date: 'HH:mm' }}
      </p>
    </div>
  </div>

  <div class="main-block">
    <div class="seats-block">
      <div class="screen"></div>

      <div class="row"
           *ngFor="let row of generateTimes(6), let rowIndex">
        <div class="seat"
          (click)="selectSeat($event.target)"
          *ngFor="let seat of generateTimes(10), let seatIndex"
          [id]="'seat' + rowIndex+ '-' + seatIndex">
        </div>
      </div>

    </div>

    <div class="seat-info">
      <div class="seat-states">
        <div class="seat-state selected"></div>
        <div class="seat-state free"></div>
        <div class="seat-state reserved"></div>
      </div>
      <div class="state-descriptions">
        <div class="state-description">Selected</div>
        <div class="state-description">Free</div>
        <div class="state-description">Reserved</div>
      </div>
    </div>

    <div class="tickets-block">
      <h3 class="tickets-heading">Tickets</h3>
      <p-scrollPanel *ngIf="ticketsArr.length" [style]="{width: '100%', height: '300px'}" styleClass="customScrollBar">
      <div class="tickets-wrapper">
        <div class="ticket" *ngFor="let ticket of ticketsArr">
          <div class="cancel-btn" (click)="deleteTicket(ticket)">x</div>
          <span class="ticket-date">{{ sessionInfo.date | date: "HH:mm" }}</span>
          <div class="seat-number">
            <span class="seat-row"> Row {{ ticket.id | Ticket: 'row' }} </span>
            <span class="seat-seat"> Seat {{ ticket.id | Ticket: 'seat' }} </span>
          </div>
          <span class="ticket-price">{{ sessionInfo?.price }} AMD</span>
        </div>
      </div>
      </p-scrollPanel>
      <div class="purchase-block">

        <div class="purchase-info-block">
          <div class="ticket-count">{{ ticketsArr.length }}x Tickets</div>
          <div class="cost-block">
            <span class="cost">Cost</span>
            <div class="priceSum">{{ ticketsAllPrice }} AMD</div>
          </div>
        </div>

        <div class="buy-btn-block">
          <button pButton
                  pRipple
                  type="button"
                  label="Buy"
                  [disabled]="!ticketsArr.length"
                  (click)="reserveSeats()"
                  class="p-button-success"></button>

        </div>
      </div>
    </div>

  </div>

</div>
