@import '../../../data';

.navbar-large {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: $gray;
  position: fixed;
  z-index: 10;
  opacity: 0.9;
}

.navbar-small {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: $gray;
  position: fixed;
  top: 0;
  z-index: 100;
  opacity: 0.9;
}


.nav-logo-large , .nav-logo-large > img {
  display: inline-block;
  margin: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transform: scale(0.8);
  transition: $animationTime;
}
.nav-logo-large:hover {
  transform: scale(0.9);
}

.nav-logo-small , .nav-logo-small > img {
  display: inline-block;
  margin: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transform: scale(0.8);
  transition: $animationTime;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-item-large {
  display: inline-block;
  width: 125px;
  height: 50px;
  line-height: 50px;
  color: $white;
  text-align: center;
  cursor: pointer;
  transition: $animationTime;
  transition-property: background-color;
}
.nav-item-large:hover {
  background-color: $dark-gray;
}
.nav-item-large:active {
  background-color: $black;
}

.nav-item-small {
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: $white;
  background-color: $gray;
  text-align: center;
  cursor: pointer;
  transition: $animationTime;
  transition-property: background-color;
}

.active {
  border-bottom: 2px solid $lightOrange;
}

@media (max-width: 650px) {
  .active {
    border-bottom: 50px solid $orange;
  }
}

.nav-link-large {
  font-size: 14px;
  text-decoration: none;
  transition: $animationTime;
}

.nav-link-small {
  font-size: 14px;
  text-decoration: none;
  transition: none;
}

.brand-large , .links-large {
  display: flex;
}

.brand-small > .nav-item-small {
  display: none;
}

.links-small {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  min-height: 150px;
  max-height: 250px;
  visibility: hidden;
  background-color: $gray;
  z-index: 100;
  transition: $animationTime;
  opacity: 0;
}

.visibility {
  visibility: visible;
  opacity: 1;
}

.brand-name-large {
  font-weight: 900;
}

.sign-in-all {
  position: relative;
  font-weight: 900;
  color: $lightGreen;
}

.line-large {
  position: absolute;
  top: 75%;
  left: 15%;
  width: 70%;
  height: 2px;
  border-radius: 8px;
  background-color: $lightGreen;
}

.line-small {
  width: 30%;
  left: 35%;
  position: absolute;
  top: 75%;
  height: 2px;
  border-radius: 8px;
  background-color: $lightGreen;
}

.hamburger-wrapper-large , .hamburger-menu-large {
  display: none;
}

.hamburger-wrapper-small {
  display: block;
  position: absolute;
  top: 0;
  right: 0
}

.hamburger-menu-small {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5px;
  width: 40px;
  height: 40px;
  transition: $animationTime ease-in-out;

  .bar {
    display: block;
    position: absolute;
    width: 80%;
    height: 3px;
    border-radius: 8px;
    background-color: $white;
    opacity: 1;
    left: 0;
    transition: $animationTime ease-in-out;
    transform: rotate(0deg);
  }
}

.hamburger-menu-small div:nth-child(1) {
  top: 10px;
}

.hamburger-menu-small div:nth-child(2),.hamburger-menu div:nth-child(3) {
  top: 20px;
}

.hamburger-menu-small div:nth-child(4) {
  top: 30px;
}

.hamburger-menu-small.open div:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

.hamburger-menu-small.open div:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger-menu-small.open div:nth-child(3) {
  transform: rotate(-45deg);
}

.hamburger-menu-small.open div:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

.sign-out-all {
  color: $lightOrange;
  a > span {
    color: $white;;
  }
}

.dropdown-sign-out-large {
  position: absolute;
  right: 0;
  top: 48px;
  z-index: 100;
  color: $white;
  width: 125px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: $gray;
  border-radius: 0 0 8px 8px;
}

.dropdown-sign-out-disabled {
  display: none;
}
.dropdown-sign-out-enabled {
  display: block;
}

.dropdown-item-large {
  transition: $animationTime;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: $lightGreen;
}
.dropdown-item-large:hover {
  background-color: $black;
}

.dropdown-sign-out-small {
  z-index: 100;
  color: $white;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: $gray;
  border-radius: 0 0 8px 8px;
  width: 100%;
  left: 0;
  top: 200px;
}

.dropdown-item-small {
  width: 100%;
  transition: $animationTime;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: $lightGreen;
}
