<header>
  <nav class="navbar" [ngClass]="{
  'navbar-large': screenIsLarge,
  'navbar-small': !screenIsLarge
  }">
    <div class="brand" [ngClass]="{
    'brand-large': screenIsLarge,
    'brand-small': !screenIsLarge
    }">
      <div class="nav-logo"
           [ngClass]="{
           'nav-logo-large': screenIsLarge,
           'nav-logo-small': !screenIsLarge
           }"
           [routerLink]="['/movies']">
        <img src="../../../assets/images/logo.png" alt="logo-img">
      </div>
      <div class="nav-item"
           [ngClass]="{
           'nav-item-large': screenIsLarge,
           'nav-item-small': !screenIsLarge
           }"
           [routerLink]="['/movies']">
        <a class="nav-link">
          <span class="brand-name"
                [ngClass]="{
                'brand-name-large': screenIsLarge,
                'brand-name-small': !screenIsLarge
                }">
            Brand
          </span>
          Name
        </a>
      </div>
    </div>
    <div id="nav-links"
         class="links"
         [ngClass]="{
         'links-large': screenIsLarge,
         'links-small': !screenIsLarge,
         'visibility': menu
         }">
      <div class="nav-item"
           [ngClass]="{
           'nav-item-large': screenIsLarge,
           'nav-item-small': !screenIsLarge
           }"
           [routerLink]="['/cinemas']"
           routerLinkActive="active"
           (click)="closeMenu()">
        <a class="nav-link">
          Cinemas
        </a>
      </div>

      <div class="nav-item"
           [ngClass]="{
           'nav-item-large': screenIsLarge,
           'nav-item-small': !screenIsLarge
           }"
           [routerLink]="['movies']"
           routerLinkActive="active"
           (click)="closeMenu()">
        <a class="nav-link">
          Movies
        </a>
      </div>


      <ng-container *ngIf="userService.user$.value?.role === 'admin'">
        <div
          class="nav-item"
          [ngClass]="{
           'nav-item-large': screenIsLarge,
           'nav-item-small': !screenIsLarge
           }"
        [routerLink]="['admin']"
        routerLinkActive="active"
          (click)="closeMenu()">
          <a class="nav-link"
             [ngClass]="{
                 'nav-link-large': screenIsLarge,
                 'nav-link-small': !screenIsLarge
                 }">
            Admin panel
          </a>
        </div>
      </ng-container>


      <ng-container *ngIf="userService.user$ | async as user; else loginBlock">
        <div
          class="nav-item sign-out-all"
          [ngClass]="{
           'nav-item-large': screenIsLarge,
           'nav-item-small': !screenIsLarge
           }"
          (click)="toggleDropdown()">
          <a class="nav-link"
             [ngClass]="{
                 'nav-link-large': screenIsLarge,
                 'nav-link-small': !screenIsLarge
                 }">
            {{ user?.name }} <span> > </span>
          </a>
        </div>
        <div class="dropdown-sign-out"
             [ngClass]="{
           'dropdown-sign-out-large': screenIsLarge,
           'dropdown-sign-out-small': !screenIsLarge,
           'dropdown-sign-out-disabled': !dropdownState,
           'dropdown-sign-out-enabled': dropdownState
           }">
          <div class="dropdown-item"
               [ngClass]="{
             'dropdown-item-large': screenIsLarge,
             'dropdown-item-small': !screenIsLarge
             }"
               (click)="logOutUser()">Log out
          </div>
        </div>
      </ng-container>
      <ng-template #loginBlock>
        <div class="nav-item sign-in-all"
             [ngClass]="{
           'nav-item-large': screenIsLarge,
           'nav-item-small': !screenIsLarge
           }"
             [routerLink]="['/auth/login']"
             (click)="closeMenu()">
          <a class="nav-link"
             [ngClass]="{
           'nav-link-large': screenIsLarge,
           'nav-link-small': !screenIsLarge}
">
            Sign In
            <span class="line"
                  [ngClass]="{
                'line-large': screenIsLarge,
                'line-small': !screenIsLarge
                }">
          </span>
          </a>
        </div>
      </ng-template>




    </div>

    <div class="hamburger-wrapper"
         [ngClass]="{
             'hamburger-wrapper-large': screenIsLarge,
             'hamburger-wrapper-small': !screenIsLarge
             }">
      <div class="hamburger-menu"
           [ngClass]="{
             'hamburger-menu-large': screenIsLarge,
             'hamburger-menu-small': !screenIsLarge,
             'open': menu
             }"
           (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </nav>
</header>
