<div class="form-wrapper">
  <div class="form-container">
    <h1 class="sign-up-title">Sign Up</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-inner-container">
        <div class="form-block">

          <div class="form-group">
            <label class="form-label" for="name">
              Name
            </label>
            <input id="name"
                   type="text"
                   class="form-input"
                   [ngClass]="{
                    'ng-invalid': form.controls.name.errors && submitted,
                    'ng-dirty': form.controls.name.errors && submitted
                    }"
                   placeholder="Your name..."
                   formControlName="name"
                   pInputText>

            <small
              *ngIf="form.get('name')?.hasError('required') && submitted"
              class="p-error error-text">
              Name is required.
            </small>
          </div>

          <div class="form-group">
            <label class="form-label" for="surname">
              Surname
            </label>
            <input id="surname"
                   type="text"
                   class="form-input"
                   [ngClass]="{
                    'ng-invalid': form.controls.surname.errors && submitted,
                    'ng-dirty': form.controls.surname.errors && submitted
                    }"
                   placeholder="Your surname..."
                   formControlName="surname"
                   pInputText>

            <small
              *ngIf="form.get('surname')?.hasError('required') && submitted"
              class="p-error error-text">
              Surname is required.
            </small>
          </div>

          <div class="form-group">
            <label class="form-label" for="email">
              Email
            </label>
            <input id="email"
                   type="email"
                   class="form-input"
                   [ngClass]="{
                    'ng-invalid': form.controls.email.errors && submitted,
                    'ng-dirty': form.controls.email.errors && submitted
                    }"
                   placeholder="Your email..."
                   formControlName="email"
                   pInputText>

            <small
              *ngIf="form.get('email')?.hasError('required') && submitted"
              class="p-error error-text">
              Email is required.
            </small>
            <small
              *ngIf="form.get('email')?.hasError('email') && submitted"
              class="p-error error-text">
              Email format is incorrect
            </small>
          </div>

          <button id="btn-back-large"
                  pButton
                  pRipple
                  type="button"
                  label="Back"
                  [routerLink]="['/auth/login']"
                  class="p-button-outlined p-button-warning back-btn btn"></button>

        </div>
        <div class="form-block">
          <div class="form-group">
            <label class="form-label" for="age">
              Age
            </label>
            <input id="age"
                   type="number"
                   class="form-input"
                   [ngClass]="{
                    'ng-invalid': form.controls.age.errors && submitted,
                    'ng-dirty': form.controls.age.errors && submitted
                    }"
                   placeholder="Your age..."
                   formControlName="age"
                   max="100"
                   min="1"
                   pInputText>

            <small
              *ngIf="form.get('age')?.hasError('required') && submitted"
              class="p-error error-text">
              Age is required.
            </small>
            <small
              *ngIf="form.get('age')?.hasError('min') && submitted"
              class="p-error error-text">
              You need to be at least 16 years old.
            </small>
          </div>

          <div class="form-group">
            <label class="form-label" for="password">
              Password
            </label>
            <input id="password"
                   type="password"
                   class="form-input"
                   [ngClass]="{
                    'ng-invalid': form.controls.password.errors && submitted,
                    'ng-dirty': form.controls.password.errors && submitted
                    }"
                   placeholder="Your password..."
                   formControlName="password"
                   pInputText>

            <small
              *ngIf="form.get('password')?.hasError('required') && submitted"
              class="p-error error-text">
              Password is required.
            </small>
            <small
              *ngIf="form.get('password')?.hasError('minlength') && submitted"
              class="p-error error-text">
              Password is too short.
            </small>
            <small
              *ngIf="form.get('password')?.hasError('maxlength') && submitted"
              class="p-error error-text">
              Password is too long.
            </small>
          </div>

          <div class="form-group">
            <label class="form-label" for="repeatPassword">
              Repeat-password
            </label>
            <input id="repeatPassword"
                   type="password"
                   class="form-input"
                   [ngClass]="{
                    'ng-invalid': form.controls.password.errors && submitted || didntMatch,
                    'ng-dirty': form.controls.password.errors && submitted || didntMatch
                    }"
                   placeholder="Repeat Your password"
                   formControlName="repeatPassword"
                   pInputText>

            <small
              *ngIf="form.get('repeatPassword')?.hasError('required') &&  submitted"
              class="p-error error-text">
              Repeat Your password.
            </small>
            <small
              *ngIf="submitted && didntMatch && !form.get('repeatPassword')?.hasError('required')"
              class="p-error error-text">
              Passwords didn't match
            </small>
          </div>

          <button id="btn-signup-large"
                  type="submit"
                  pButton
                  pRipple
                  label="Sign up"
                  class="p-button-warning sign-up-btn btn">
          </button>

          <div class="btn-container">
            <button pButton
                    pRipple
                    type="button"
                    label="Back"
                    [routerLink]="['/auth/login']"
                    class="p-button-outlined p-button-warning back-btn btn">
            </button>
            <button type="submit"
                    pButton
                    pRipple
                    label="Sign up"
                    class="p-button-warning sign-up-btn btn">
            </button>
          </div>

        </div>
      </div>

    </form>
  </div>
</div>
