@import "../../../../../data";

.form-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 60%;
  margin: 0 auto;
  padding: 5% 7% 7% 7%;
}

.sign-up-title {
  font-size: 24px;
  text-align: center;
  color: $lightOrange;
}

.form-inner-container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px 15px;
}

.form-group {
  width: 100%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-label {
  font-size: 16px;
  color: $white;
}

.form-input {
  width: 100%;
}

.error-text {
  text-align: center;
}

.form-block  {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-btn {
  align-self: flex-start;
}

.sign-up-btn {
  align-self: flex-end;
}

:host ::ng-deep span.p-button-label {
  font-size: 16px;
}

.btn-container {
  width: 100%;
  margin: 40px 0;
  display: none;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 650px) {
  .form-container {
    padding: 0;
  }


  .form-inner-container {
    flex-direction: column;
    gap: 0;
  }

  .form-block {
    width: 100%;
  }

  .btn-container {
    display: flex;
  }

  #btn-back-large , #btn-signup-large {
    display: none;
  }

}
