<div class="table-container">
  <h1 class="table-header">Manage Cinemas</h1>
  <div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <button pButton
                pRipple
                label="New"
                icon="pi pi-plus"
                class="p-button-info mr-2 toolbar-buttons"
                (click)="openNew()">
        </button>
        <button pButton
                pRipple
                label="Delete"
                icon="pi pi-trash"
                class="p-button-danger toolbar-buttons"
                (click)="deleteSelectedCinemas()"
                [disabled]="!selectedCinemas?.length">
        </button>
      </ng-template>
    </p-toolbar>
    <p-table #dt
             [value]="incomingCinemas"
             styleClass="p-datatable-gridlines"
             responsiveLayout="stack"
             [breakpoint]="'960px'"
             [rows]="rows"
             [paginator]="true"
             [globalFilterFields]="['cinemaName' , 'id']"
             [tableStyle]="{'min-width': '75rem'}"
             [(selection)]="selectedCinemas"
             [rowHover]="true"
             [contextMenu]="cm"
             [(contextMenuSelection)]="cinema"
             dataKey="cinemaId">
      <ng-template pTemplate="header" class="headerMoviesMobile">
        <tr>

          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>

          <th pSortableColumn="cinemaId" style="min-width:15rem">
            <div class="th-items">
              <div class="left-th">
                ID
                <p-sortIcon field="cinemaId"></p-sortIcon>
              </div>
              <p-columnFilter class="filter-margin" type="numeric" field="cinemaId" display="menu"></p-columnFilter>
            </div>
          </th>

          <th pSortableColumn="cinemaName" style="min-width:15rem">
            <div class="th-items">
              <div class="left-th">
                Name
                <p-sortIcon field="cinemaName"></p-sortIcon>
              </div>
              <p-columnFilter class="filter-margin" type="text" field="cinemaName" display="menu"></p-columnFilter>
            </div>
          </th>

          <th>Description</th>
          <th>Address</th>
          <th>
            <div class="flex">
              <button pButton
                      (click)="clearFilters(dt)"
                      label="Clear"
                      class="p-button-outlined"
                      icon="pi pi-filter-slash"></button>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cinema>
        <tr [pContextMenuRow]="cinema">
          <td class="table-checkbox">
            <p-tableCheckbox [value]="cinema"></p-tableCheckbox>
          </td>
          <td>{{ cinema['cinemaId'] }}</td>
          <td>{{ cinema['cinemaName'] }}</td>
          <td [pTooltip]="cinema['cinemaDescription']"
              tooltipPosition="bottom"
              [showDelay]="400"
              [hideDelay]="100">
            <div class="shorter-text">
              {{ cinema['cinemaDescription'] }}
            </div>
          </td>
          <td [pTooltip]="cinema['cinemaAddress']"
              tooltipPosition="bottom"
              [showDelay]="400"
              [hideDelay]="100">
            <div class="shorter-text">
              {{ cinema['cinemaAddress'] }}
            </div>
          </td>
          <td class="editDialogColsButtons">
            <button pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-info mr-2 rounded-buttons-size buttons-distance"
                    (click)="editCinema(cinema)">
            </button>
            <button pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-danger rounded-buttons-size buttons-distance"
                    (click)="deleteCinema(cinema)">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [(visible)]="cinemaDialog"
            [style]="{width: '450px'}"
            header="Cinema Details"
            [modal]="true"
            [resizable]="false"
            [draggable]="false"
            (onHide)="hideDialog()"
            styleClass="p-fluid">
    <ng-template pTemplate="content">
      <form [formGroup]="form" (ngSubmit)="saveCinema()">

        <div class="field editDialogCols">
          <label for="name">
            Name
          </label>
          <input class="editDialogColsInput"
                 [ngClass]="{
                    'ng-invalid': submitted || !form.value.cinemaName?.trim() && submitted,
                    'ng-dirty': submitted || !form.value.cinemaName?.trim() && submitted
                    }"
                 type="text"
                 formControlName="cinemaName"
                 pInputText
                 [(ngModel)]="cinema.cinemaName"
                 id="name"
                 autofocus />
          <small *ngIf="form.get('cinemaName')?.hasError('required')  && submitted
                         ||
                         !cinema.cinemaName?.trim() && submitted"
                 class="p-error">
            Name is required.
          </small>
        </div>

        <div class="field editDialogCols">
          <label for="description">
            Description
          </label>
          <textarea class="editDialogColTextArea"
                    [ngClass]="{
                    'ng-invalid': submitted || !form.value.cinemaName?.trim() && submitted,
                    'ng-dirty': submitted || !form.value.cinemaName?.trim() && submitted
                    }"
                    id="description"
                    formControlName="cinemaDescription"
                    pInputTextarea
                    [(ngModel)]="cinema.cinemaDescription"
                    rows="3"
                    cols="20">
          </textarea>
          <small *ngIf="form.get('cinemaDescription')?.hasError('required')  && submitted
                         ||
                         !cinema.cinemaDescription?.trim() && submitted"
                 class="p-error">
            Description is required.
          </small>
        </div>

        <div class="field editDialogCols">
          <label for="address">
            Address
          </label>
          <input class="editDialogColsInput"
                 [ngClass]="{
                    'ng-invalid': submitted || !form.value.cinemaName?.trim() && submitted,
                    'ng-dirty': submitted || !form.value.cinemaName?.trim() && submitted
                    }"
                 type="text"
                 id="address"
                 formControlName="cinemaAddress"
                 [(ngModel)]="cinema.cinemaAddress"
                 pInputText />
          <small *ngIf="form.get('cinemaAddress')?.hasError('required')  && submitted
                         ||
                         !cinema.cinemaAddress?.trim() && submitted"
                 class="p-error">
            Address is required.
          </small>
        </div>

      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton
              pRipple
              label="Cancel"
              icon="pi pi-times"
              class="p-button-text"
              (click)="hideDialog()"></button>
      <button pButton
              pRipple
              label="Save"
              icon="pi pi-check"
              class="p-button-text"
              (click)="saveCinema()"></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  <p-contextMenu #cm [model]="items"></p-contextMenu>

</div>
