<div class="table-container">
  <h1 class="table-header">Manage Cinemas</h1>
  <div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <button pButton
                pRipple
                label="New"
                icon="pi pi-plus"
                class="p-button-info mr-2 toolbar-buttons"
                (click)="openNew()">
        </button>
        <button pButton
                pRipple
                label="Delete"
                icon="pi pi-trash"
                class="p-button-danger toolbar-buttons"
                (click)="deleteSelectedCinemas()"
                [disabled]="!selectedCinemas?.length">
        </button>
      </ng-template>
    </p-toolbar>
    <p-table #dt
             [value]="incomingCinemas"
             responsiveLayout="stack"
             [breakpoint]="'960px'"
             [rows]="rows"
             [paginator]="true"
             [globalFilterFields]="['cinemaName' , 'cinemaId']"
             [tableStyle]="{'min-width': '75rem'}"
             [(selection)]="selectedCinemas"
             [rowHover]="true"
             [contextMenu]="cm"
             [(contextMenuSelection)]="cinema"
             dataKey="id">
      <ng-template pTemplate="header" class="headerMoviesMobile">
        <tr>

          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>

          <th pSortableColumn="cinemaId" style="min-width:15rem">
            <div class="flex justify-content-between align-items-center">
              ID
              <p-sortIcon field="cinemaId"></p-sortIcon>
              <p-columnFilter class="filter-margin" type="numeric" field="cinemaId" display="menu"></p-columnFilter>
            </div>
          </th>

          <th pSortableColumn="cinemaName" style="min-width:15rem">
            <div class="flex justify-content-between align-items-center">
              Name
              <p-sortIcon field="cinemaName"></p-sortIcon>
              <p-columnFilter class="filter-margin" type="text" field="cinemaName" display="menu"></p-columnFilter>
            </div>
          </th>

          <th>Description</th>
          <th>Address</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cinema>
        <tr [pContextMenuRow]="cinema">
          <td class="table-checkbox">
            <p-tableCheckbox [value]="cinema"></p-tableCheckbox>
          </td>
          <td>{{ cinema['cinemaId'] }}</td>
          <td>{{ cinema['cinemaName'] }}</td>
          <td [pTooltip]="cinema['cinemaDescription']"
              tooltipPosition="bottom"
              [showDelay]="400"
              [hideDelay]="100">
            {{ cinema['cinemaDescription'] | shortText }}
          </td>
          <td>{{ cinema['cinemaAddress'] | shortText }}</td>
          <td class="editDialogColsButtons">
            <button pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-info mr-2 rounded-buttons-size buttons-distance"
                    (click)="editCinema(cinema)">
            </button>
            <button pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-danger rounded-buttons-size buttons-distance"
                    (click)="deleteCinema(cinema)">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [(visible)]="cinemaDialog"
            [style]="{width: '450px'}"
            header="Product Details"
            [modal]="true"
            styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field editDialogCols">
        <label for="name">
          Name
        </label>
        <input class="editDialogColsInput"
               type="text"
               pInputText
               id="name"
               [(ngModel)]="cinema.cinemaName"
               required
               autofocus />
        <small class="p-error" *ngIf="submitted && !cinema.cinemaName">Name is required.</small>
      </div>
      <div class="field editDialogCols">
        <label for="description">
          Description
        </label>
        <textarea class="editDialogColTextArea"
                  id="description"
                  pInputTextarea
                  [(ngModel)]="cinema.cinemaDescription"
                  required
                  rows="3"
                  cols="20"></textarea>
        <small class="p-error" *ngIf="submitted && !cinema.cinemaDescription">Description is required.</small>
      </div>
      <div class="field editDialogCols">
        <label for="address">
          Address
        </label>
        <input class="editDialogColsInput"
               type="text"
               id="address"
               pInputText
               [(ngModel)]="cinema.cinemaAddress"
               required />
        <small class="p-error" *ngIf="submitted && !cinema.cinemaAddress">Address is required.</small>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton
              pRipple
              label="Cancel"
              icon="pi pi-times"
              class="p-button-text"
              (click)="hideDialog()"></button>
      <button pButton
              pRipple
              label="Save"
              icon="pi pi-check"
              class="p-button-text"
              (click)="saveCinema()"></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  <p-contextMenu #cm [model]="items"></p-contextMenu>

</div>
