@import "../../../data";

.movies-title {
  width: 35%;
  margin: 2rem auto;
  color: $white;
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid $white;
}

.movies-container {
  width: 75%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.card {
  margin: 1rem 0 0 0;
  padding: 0;
  width: 350px;
  height: 550px;
  background-color: black;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  transition: $animationTime;
}

.movie-title {
  width: 75%;
  margin: 0;
  padding: 0;
  color: $white;
  position: absolute;
  left: 10%;
  bottom: 10%;
  font-size: 1.5rem;
  letter-spacing: 1px;
  opacity: 0;
  transition: $animationTime;
}

.movie-btn {
    visibility: hidden;
    width: 100%;
    height: 15%;
    cursor: pointer;
    border: none;
    border-bottom-left-radius:  0.6rem;
    border-bottom-right-radius: 0.6rem;
    outline: none;
    font-size: 0.9rem;
    background-color: $orange;
    color: $white;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: $animationTime;
  }

.card:hover {
  box-shadow: 0 0 3px 0 $white;
  .movie-img {
    opacity: 0.5;
  }

  .movie-title {
    opacity: 1;
  }
}

@media (max-width: 1400px) {
  .card {
    width: 220px;
    height: 300px;
  }
}

@media (max-width: 650px) {
  .movies-title {
    width: 50%;
    font-size: 1.5rem;
  }

  .movies-container {
    width: 80%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  .card {
    margin: 0.5rem auto;
    width: 115px;
    height: 170px;
  }

  .movie-title {
    font-size: 0.7rem;
  }

  .movie-btn {
    font-size: 0.5rem;
  }

  .card:hover {
    .movie-btn {
      visibility: visible;
      bottom: -13%;
      opacity: 1;
    }
  }
}


