<div class="movies-container">
  <div class="card" *ngFor="let movie of incomingMovies">
    <img *ngIf="!screenWidth"
      [src]="movie.imgUrl"
      alt="movie-img" class="movie-img" [routerLink]="['/movies' , movie.id]">
    <img *ngIf="screenWidth"
         [src]="movie.imgUrl"
         alt="movie-img" class="movie-img">
    <p class="movie-title" [routerLink]="['/movies' , movie.id]">{{movie.name}}</p>
    <button class="movie-btn" [routerLink]="['/movies' , movie.id]">See Tickets</button>
  </div>
</div>
