$white: #e8e5e5;
$black: #151414;
$lightGray: #a6a2a2;
$gray: #3a3434;
$dark-gray: #1f1d1d;
$lightOrange: #e5810a;
$orange: #b0650c;
$dark-orange: #832f08;
$lightGreen: #08af08;
$green: #106b10;
$dark-green: #063a06;
$animationTime: 0.4s;
