<div class="wrapper">
  <h1 class="admin-title">Admin panel</h1>
  <div class="container">
    <button pButton
            pRipple
            type="button"
            label="Movies"
            class="btn p-button-warning"
            [routerLink]="['movies']">
    </button>
    <button pButton
            pRipple
            type="button"
            label="Sessions"
            class="btn p-button-warning"
            [routerLink]="['sessions']">
    </button>
    <button pButton
            pRipple
            type="button"
            label="Cinemas"
            class="btn p-button-warning"
            [routerLink]="['cinemas']">
    </button>
  </div>
</div>
