@import '../../../data';

.footer-wrapper {
  color: $white;
}

.footer-container-large {
  background-color: rgba($gray, 0.5);
  width: 100%;
  display: flex;
  padding: 25px 8%;
}

.brand-block {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.brand-name {
  font-size: 20px;
  margin: 5px auto;
}

.brand-name > span {
  font-weight: 900;
}

.logo-block {
  color: $lightOrange;
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
}

.logo-link {
  cursor: pointer;
  transition: $animationTime;
}

.links-block {
  margin: 0;
  padding: 0;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.col-header {
  font-size: 24px;
  font-weight: 900;
}

.col-inner-links-large {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: $white;
}

.footer-container-small {
  background-color: rgba($gray, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 25px;
}

.brand-name-small {
  font-size: 24px;
  margin: 25px auto;
}

.brand-name-small > span {
  font-weight: 900;
}

.links-col-small {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
}

.col-header-small {
  font-size: 24px;
  text-align: center;
}

.col-inner-links-small {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
}

.logo-block-small {
  color: $lightOrange;
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
}
