<div class="form-wrapper">
  <div class="form-container">
    <h2 class="form-title">Log in</h2>
    <div class="form-content">
      <div class="form-label">
        <label for="email">Email</label>
      </div>
      <input type="email" id="email" class="form-input" placeholder="Your email...">
    </div>
    <div class="form-content">
      <div class="form-label">
        <label for="password" class="form-label">Password</label>
      </div>
      <input type="text" id="password" class="form-input" placeholder="Your password...">
    </div>
    <button class="form-btn">Log in</button>
  </div>
</div>
