<div class="cinemas-container">
  <div class="cinema" id="cinema1">
    <div class="container">
      <img src="../../../assets/images/cinema1.png" alt="cinemaImg1" class="img">
      <h2 class="cinema-title">Hall 1</h2>
      <div class="overlay-left">

        <div class="text-container">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda corporis dolore expedita ipsum nostrum perferendis perspiciatis porro, quae quasi quis, ratione, sint tenetur vitae voluptas! Asperiores magni maxime molestias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae blanditiis consequuntur, cumque dignissimos dolores doloribus dolorum ducimus ex excepturi exercitationem explicabo quas recusandae repellendus reprehenderit similique suscipit temporibus voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, doloremque repudiandae! Harum illum incidunt nulla repudiandae unde. Atque aut, doloremque doloribus eos natus ratione sed, sunt, veritatis vitae voluptas voluptatem.</p>
        </div>
          <button class="btn btn-left">See Movies</button>
      </div>
      <button class="btn-mobile">See Movies</button>
    </div>
  </div>
  <div class="cinema" id="cinema2">

    <div class="container">
      <img src="../../../assets/images/cinema2.png" alt="CinemaImg2" class="img">
      <h2 class="cinema-title">Hall 2</h2>
      <div class="overlay-right">

        <div class="text-container">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda corporis dolore expedita ipsum nostrum perferendis perspiciatis porro, quae quasi quis, ratione, sint tenetur vitae voluptas! Asperiores magni maxime molestias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae blanditiis consequuntur, cumque dignissimos dolores doloribus dolorum ducimus ex excepturi exercitationem explicabo quas recusandae repellendus reprehenderit similique suscipit temporibus voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto, blanditiis corporis deleniti deserunt ea eos esse eum impedit ipsam necessitatibus nesciunt obcaecati officiis placeat quas quia quod veniam vero!</p>
        </div>
        <button class="btn btn-right">See Movies</button>
      </div>
      <button class="btn-mobile">See Movies</button>
    </div>

  </div>
</div>


