<div class="cinemas-container">
  <div class="cinema" id="cinema1">
    <div class="container">
      <img [src]="cinemaInfo_1?.cinemaImg" alt="cinemaImg1" class="img">
      <h2 class="cinema-title">{{ cinemaInfo_1?.cinemaName }}</h2>
      <div class="overlay-left">
        <div class="box">
          <p class="box-text">
            {{ cinemaInfo_1?.cinemaDescription }}
          </p>
          <button class="box-btn left" [routerLink]="['/movies/cinema-one']">See Movies</button>
        </div>
      </div>
      <button class="btn-mobile" [routerLink]="['/movies/cinema-one']">See Movies</button>
    </div>
  </div>
  <div class="cinema" id="cinema2">

    <div class="container">
      <img [src]="cinemaInfo_2?.cinemaImg" alt="CinemaImg2" class="img">
      <h2 class="cinema-title">{{ cinemaInfo_2?.cinemaName }}</h2>
      <div class="overlay-right">
        <div class="box">
          <p class="box-text">
            {{ cinemaInfo_2?.cinemaDescription }}
          </p>
          <button class="box-btn right" [routerLink]="['/movies/cinema-two']">See Movies</button>
        </div>
      </div>
      <button class="btn-mobile" [routerLink]="['/movies/cinema-two']">See Movies</button>
    </div>

  </div>
</div>


