@import "../../../data.scss";

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.box {
  width: 80%;
  height: 100vh;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.box-text {
  color: $white;
  padding: 2rem;
  text-align: center;
  opacity: 0;
}

.box-btn {
  margin: 2rem;
  padding: 0;
  font-size: 1rem;
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #046e04;
  color: $white;
  overflow: hidden;
  transition: $animationTime;
  opacity: 0;
}

.left {
  align-self: flex-end;
}
.right {
 align-self: flex-start;
}

.overlay-left {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $dark-gray;
  overflow: hidden;
  width: 0;
  height: 100vh;
  transition: $animationTime ease;
  opacity: 0.8;
}

.overlay-left:hover {
  .box-text {
    opacity: 1;
  }
  .box-btn {
    opacity: 1;
  }
}

.container:hover .overlay-left ,
.container:hover .overlay-right {
  width: 100%;
}

.overlay-right {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: $dark-gray;
  overflow: hidden;
  width: 0;
  height: 100vh;
  transition: $animationTime ease;
  opacity: 0.8;
}

.container:hover .overlay-right {
  width: 100%;
  left: 0;
}

.overlay-right:hover {
  .box-text {
    opacity: 1
  }
  .box-btn {
    opacity: 1;
  }
}

.box-btn:hover , .btn-mobile:hover {
  background-color: $dark-green;
}

.btn-mobile {
  display: none;
  font-size: 1rem;
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  background-color: #046e04;
  color: $white;
}

.cinemas-container {
  margin: 0;
  padding: 0;
  display: flex;
}

.cinema {
  position: relative;
  width: 50%;
  height: 100vh;
  box-shadow: 0 0 2px 0 $white;
}

.cinema-title {
  position: absolute;
  top: 3rem;
  left: 3rem;
  color: $white;
}

.img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .cinemas-container {
    flex-direction: column;
  }

  .container {
    height: 50vh;

    img {
      height: 50vh;
    }
  }

  .cinema {
    height: 50vh;
    width: 100%;
    box-shadow: 0 0 0 0 $white;
  }

    #cinema2 {
      box-shadow: 0 0 2px 0 $white;
    }

  .cinema-title {
    top: 1rem;
    left: 2rem;
    font-size: 1.2rem;
  }


  .overlay-left ,
  .overlay-right ,
  .box-text {
    display: none;
  }

  .btn-mobile {
    display: block;
  }
}
