$white: #e8e5e5;
$black: #151414;
$lightGray: #a6a2a2;
$gray: #3a3434;
$dark-gray: #1f1d1d;
$lightOrange: #F59E0B;
$orange: #b0650c;
$dark-orange: #832f08;
$lightGreen: #22C55E;
$green: #106b10;
$dark-green: #063a06;
$shadow: 0 0 2px 0 $white;
$lightRed: #faa1a1;
$red: #EF4444;
$darkRed: #BE2E2EFF;
$blue: #1338a5;
$darkBlue: #05216e;
$animationTime: 0.4s;
$mobileFontSize: 0.7rem;
