@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "data.scss";

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient( 90deg,  rgb(21, 20, 20) 11.2%, rgb(42, 43, 45) 91.1% );
  margin: 0;
  padding: 0;
  user-select: none;
  color: #4d4848;
}
