<h1 class="movie-title">{{ selected_movie?.name }}</h1>
<div class="single-wrapper">

  <div class="info-block">
    <div class="block-one">
      <div class="img-wrapper">
        <img [src]="selected_movie?.imgUrl" alt="movie-img">
      </div>
      <div class="text-info"
           (click)="toggleWithClick()">
        {{ selected_movie?.description }}
      </div>
    </div>
    <div class="block-two">
      <div class="trailer-wrapper">
        <iframe [title]="selected_movie?.name"
                *ngIf="selected_movie?.trailerUrl"
                loading="lazy"
                [src]="selected_movie?.trailerUrl | safe: 'resourceUrl'"
                allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>


  <div class="date-block">
    <h3 class="month">Feb</h3>

    <div class="days">
      <div class="border"
           *ngFor="let day of dayArr, let i = index"
           [ngClass]="{'booked': day === selectedDay}"
           (click)="pickDay( i )">
        {{ day }}
      </div>
    </div>

    <div class="sessions">
      <div class="border"
           *ngFor="let session of sessionsArr , let i = index"
           [ngClass]="{'booked': session === selectedSession}"
           (click)="pickSession( i )">

        {{ session?.date | date: 'HH:mm' }}

        <small class="price">{{ session['price'] }}</small>
      </div>
    </div>

    <button pButton
            pRipple
            type="button"
            label="Choose tickets"
            [disabled]="!dateIsSelected"
            [routerLink]="['/movies/' + cinema_id , selected_movie?.id , selectedSession?.id]"
            class="p-button-warning">
    </button>


  </div>
</div>
